body {
    max-width: 100vw;
    margin: 0 auto;

    background-color: $primarycolor;

    //.landing-page,
    //.game-page,

    /*
    header {
        display: flex;
        justify-content: center;
        //margin-top: 30px;
        img {
            width: 20vw;
            height: auto;
            min-width: 250px;
        }
    }
 */
    .hidden {
        display: none;
    }
}

// -----------------------------------------------------
// ------------------ Flyttat hit: ---------------------
// -----------------------------------------------------

/* -----------------------*/
/* ----`*~ GENERAL ~*´----*/
/* -----------------------*/

html {
    scroll-behavior: smooth;
}
body {
    color: #2a0000;
    background-color: #f2e8cf;
    //background-color: #dbd2bc;
}
/* --------------------------*/
/* ------`*~ PAGE_1 ~*´------*/
/* ---`*~ LANDING_PAGE ~*´---*/
/* --------------------------*/

.landing-page {
    height: 100vh;
    width: 100vw;
    color: #2a0000;

    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // gap: 1rem;

    display: flex;
    flex-wrap: wrap;

    position: relative;
    text-align: center;
    justify-content: center;
    align-content: center;

    .landing-page-content {
        // grid-column: span 3;
        min-width: 100%;
        flex-basis: 100%;

        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-bottom: 5rem;
        // display: grid;
        // grid-template-columns: repeat(3, 1fr);
        // gap: 1rem;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

        @keyframes fadeIn { // Fades in & sizes up the title
            0% {opacity: 0%; font-size: 0rem;}
            25% {opacity: 30%;}
            50% {opacity: 75%;}
            100% {opacity: 100%; font-size: clamp(2rem, 10vw, 4rem);} // clamp(2rem, 10vw, 4rem)
        }

        h1 {
            animation-name:  fadeIn;
            animation-duration: 1.5s;
            text-align: center;
            flex-basis: 100%;
            // grid-column: 1 / 4;
            // grid-row: 1;
            // font-size: 4rem;
            font-size: clamp(2rem, 10vw, 4rem);
        }
        label {
            // grid-column: 1 / 4;
            // grid-row: 2;

            // display: grid;
            // grid-template-columns: repeat(3, 1fr);
            // gap: 1rem;
            flex-basis: 100%;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            justify-content: center;
            align-content: center;
            color: black;
            .name-input-text {
                // grid-column: 1 / 4;
                // grid-row: 1;

                flex-basis: 100%;

                font-size: 1.25rem;
                font-weight: bold;
                bottom: 1rem;
            }
            .username-input {
                border: none;
                border-color: #2a0000;
                background-color: #f8f2e5ad;
                border-style: solid;
                border-radius: 12px;
                padding: 10px 60px;
                flex-basis: 70%;

                // grid-column: 2;
                // grid-row: 2;
                text-align: center;
            }
        }
        .start-game-btn {
            // grid-column: 2;
            // grid-row: 4;
            flex-basis: 100%;
            top: 1rem;
            justify-self: center;
        }
    }
    .landing-page-bg {
        justify-self: center;
        max-height: 70%;
        width: auto;
        opacity: 20%;
    }
}

.start-game-btn {
    color: #f2e8cf;
    max-width: 15rem;
    padding: 15px;
    font-family: 'Roboto Mono', serif;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Roboto Mono', serif;
    font-size: 1.25rem;
    font-weight: bold;
    border: none;
    border-radius: 0.75rem;
    background-color: #c43129;
    box-shadow: 0 6px #7c1e19;
    position: relative;
}
.start-game-btn:hover {
    background-color: #df4e47;
    box-shadow: 0 6px #c02f27;
}
.start-game-btn:active {
    background-color: #df4e47;
    box-shadow: 0 2px #7c1e19;
    transform: translateY(4px);
}

/* --------------------------------*/
/* ---------`*~ PAGE_2 ~*´---------*/
/* -------`*~ GAME_PAGE ~*´--------*/
/* --------------------------------*/
/*
header {
    
    display: flex;
    justify-content: center;
    z-index: 4;
    img {
        width: 20vw;
        height: auto;
        min-width: 250px;
    }
    
}
*/

.game-page-bg {
    //max-width: 100%;
    // width: 100%;
    //min-width: 30vw;
    //min-width: 40vw;
    height: 100%;
    width: 100%;
    background-color: #420b09;
    position: absolute;
    top: 0;
    left: 0;
}
.game-page {
    height: 100vh;
    width: 100vw;
    color: #2a0000;
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // gap: 1rem;

    display: flex;
    flex-wrap: wrap;

    position: relative;
    text-align: center;

    justify-items: center;
    justify-content: center;
    align-content: center;

    background-color: #420b09;
    header {
        background-color: none;
        width: 100vw;
        position: absolute;

        text-align: center;
        z-index: 2;

        h2 {
            font-size: clamp(2rem, 6vw, 6rem);
            // margin-inline: 1rem;

            //   font-size: 4rem;
            color: #f2e8cf;
            margin-top: 0.8vh;
            margin-inline: 2rem;
            //margin-bottom: 5rem;
        }
    }

    .game-page-content {
        // grid-column: 1 / 4;
        // grid-row: 1;
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        width: 100%;

        position: absolute;

        .q-and-a-containers {
            // min-height: 50vh;

            // position: relative;

            display: flex;
            flex-wrap: wrap;

            // display: grid;
            // grid-template-columns: repeat(3, 1fr);
            // gap: 1rem;

            justify-content: center;
            align-content: center;

            //margin-bottom: 20vh;
            //margin-top: 12rem;
            margin-top: 20vh;
            margin-right: 20vw;
            margin-left: 20vw;

            .question-container {
                text-align: center;
                margin-bottom: 2vh;
                //margin-bottom: 2rem;
                // font-size: 2.5vw;
                // grid-column: 1 / 4;
                // grid-row: 1;
                flex-basis: 100%;

                .question-paragraph {
                    font-size: clamp(1rem, 4vw, 1.8rem);
                }
            }
            .options-container {
                font-size: 1rem;
                text-align: center;
                // grid-column: 1 / 4;
                // grid-row: 3;

                font-size: clamp(1rem, 3vw, 1.5rem);

                display: flex;
                flex-wrap: wrap;
                // display: grid;
                // grid-template-columns: repeat(3, 1fr);
                // gap: 1rem;

                justify-content: center;
                align-content: center;

                .option-one {
                    flex-basis: 100%;
                    text-align: start;
                    // grid-column: 1 / 4;
                    // grid-row: 2;
                    // justify-self: center;
                    border: 0.15rem solid black;
                    border-radius: 0.75rem;
                    padding: 0.5rem;
                    margin-bottom: 1rem;
                    display: flex;
                    justify-content: flex-start;
                    gap: 1rem;
                }
                .option-two {
                    flex-basis: 100%;
                    text-align: start;
                    // grid-column: 1 / 4;
                    // grid-row: 3;
                    // justify-self: center;
                    border: 0.15rem solid black;
                    border-radius: 0.75rem;
                    padding: 0.5rem;
                    margin-bottom: 1rem;
                    display: flex;
                    justify-content: flex-start;
                    gap: 1rem;
                }
                .option-three {
                    flex-basis: 100%;
                    text-align: start;
                    // grid-column: 1 / 4;
                    // grid-row: 4;
                    // justify-self: center;
                    border: 0.15rem solid black;
                    border-radius: 0.75rem;
                    padding: 0.5rem;
                    margin-bottom: 1rem;
                    display: flex;
                    justify-content: flex-start;
                    gap: 1rem;
                }
            }
        }
        .buttons-and-progress {
            // margin-top: 25vh;
            // margin-right: 10vw;
            // margin-left: 10vw;
            // margin-bottom: 2vh;

            // display: grid;
            // grid-template-columns: repeat(3, 1fr);
            // gap: 1rem;
            flex-basis: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;

            .lock-answer-btn {
                flex-basis: 100%;
                width: 100%;
                // justify-self: center;
                // grid-column: 2;
            }
            .progress-top-container {
                // grid-column: 1;
                // justify-self: start;
                flex-basis: 100%;
                border: #2a0000;
                border-radius: 5px;
                font-size: 1.25rem;

                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                justify-content: space-evenly;
                align-items: baseline;

                .time-span,
                .amount-of-questions {
                    padding: 0.5rem 1rem;
                    border: #2a0000;
                    border-style: solid;
                    border-radius: 5px;
                    background-color: #f2e8cf83;
                    margin-top: 1rem;
                    margin-bottom: 0.3rem;
                    font-size: 1rem;
                }
                .time-span {
                    margin-right: 0.5rem;
                }
            }
            .onward-container {
                // grid-column: 3;
                .onward-btn {
                    font-size: clamp(1rem, 4vw, 2rem);
                    height: 100%;
                }
            }
        }
    }
}

/* -------`*~ RADIO_BUTTONS ~*´--------*/



/* -------`*~ BUTTONS ~*´--------*/

.buttons-and-progress {
    @keyframes spinnyBtn { // Rotates (shakes) the button
        0% {rotate: 15deg;}
        25% {rotate: -5deg;}
        50% {rotate: 10deg;}
        75% {rotate: -15deg;}
        100% {rotate: 5deg;}
    }

    .lock-answer-btn {
        animation-name: spinnyBtn;
        animation-duration: 3s;
        animation-delay: 15s;
        color: #f2e8cf;
        max-width: 25vw;
        padding: 1rem;
        font-family: 'Roboto Mono', serif;
        display: inline-block;
        transition-duration: 0.4s;
        cursor: pointer;
        font-family: 'Roboto Mono', serif;
        // font-size: 1.25rem;
        font-size: clamp(1rem, 4vw, 2rem);
        border: none;
        border-radius: 0.75rem;
        background-color: #c43129;
        box-shadow: 0 8px #7c1e19;
        // position: relative;
    }
    .lock-answer-btn:hover {
        background-color: #df4e47;
        box-shadow: 0 8px #c02f27;
    }
    .lock-answer-btn:active {
        background-color: #df4e47;
        box-shadow: 0 2px #7c1e19;
        transform: translateY(4px);
    }
    .lock-answer-btn:disabled {
        opacity: 60%;
        background-color: #c43129;
        box-shadow: 0 6px #7c1e19;
        transform: translateY(4px);
        cursor: not-allowed;
    }
    .onward-container {
        .onward-btn {
            color: #f2e8cf;
            max-width: 25vw;
            padding: 1rem;
            font-family: 'Roboto Mono', serif;
            display: inline-block;
            transition-duration: 0.4s;
            cursor: pointer;
            font-family: 'Roboto Mono', serif;
            // font-size: 1.25rem;
            font-size: clamp(1rem, 4vw, 2rem);
            border: none;
            border-radius: 0.75rem;
            background-color: #c43129;
            box-shadow: 0 6px #7c1e19;
            // position: relative;
        }
        .onward-btn:hover {
            background-color: #df4e47;
            box-shadow: 0 6px #c02f27;
        }
        .onward-btn:active {
            background-color: #df4e47;
            box-shadow: 0 2px #7c1e19;
            transform: translateY(4px);
        }
        .onward-btn:disabled {
            opacity: 60%;
            background-color: #c43129;
            box-shadow: 0 6px #7c1e19;
            transform: translateY(4px);
            cursor: not-allowed;
        }
    }
}
/*
*/

/* ----------------------------------------*/
/* -------------`*~ PAGE_3 ~*´-------------*/
/* ----------`*~ RESULTS_PAGE ~*´----------*/
/* ----------------------------------------*/

.result-page {
    height: 100vh;
    width: 100vw;

    position: relative;
    text-align: center;

    // background-color: #420b09;
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    h2 {
        font-size: clamp(2rem, 6vw, 6rem);

        position: relative;
        text-align: center;
        justify-self: center;
        margin-bottom: 1vh;
    }
    .result-ticket {
        position: absolute;
        // top: 50%;
        width: 100vw;
        height: auto;
        background-size: cover;
        transform: scale(1.3);
    }
    .result-text-container {
        flex-basis: 100%;
        font-size: clamp(1rem, 4vw, 2rem);
        color: black; // TODO: fixa denna så att den funkar för alla
        position: relative;
        top: -10%;
        margin-inline: 20vw;
        .result-paragraph {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 4rem;
            p {
                text-align: center;
            }
        }
    }
    .result-page-btns-container {
        flex-basis: 50%;
        display: flex;
        gap: 1rem;
        justify-content: center;
        .play-again-btn, .quit-game-btn {
            color: #f2e8cf;
            max-width: 25vw;
            padding: 1rem;
            font-family: 'Roboto Mono', serif;
            display: inline-block;
            transition-duration: 0.4s;
            cursor: pointer;
            font-family: 'Roboto Mono', serif;
            font-size: clamp(1rem, 4vw, 2rem);
            border: none;
            border-radius: 0.75rem;
            background-color: #c43129;
            box-shadow: 0 6px #7c1e19;
            // position: relative;
        }
        .play-again-btn:hover, .quit-game-btn:hover {
            background-color: #df4e47;
            box-shadow: 0 6px #c02f27;
        }
    }
}
