body {
    max-width: 100vw;
    margin: 0 auto;

    background-color: $primarycolor;

    //.landing-page,
    //.game-page,

    /*
    header {
        display: flex;
        justify-content: center;
        //margin-top: 30px;
        img {
            width: 20vw;
            height: auto;
            min-width: 250px;
        }
    }
 */
    .hidden {
        display: none;
    }
}

// -----------------------------------------------------
// ------------------ Flyttat hit: ---------------------
// -----------------------------------------------------

/* -----------------------*/
/* ----`*~ GENERAL ~*´----*/
/* -----------------------*/

html {
    scroll-behavior: smooth;
}
body {
    color: #2a0000;
    background-color: #f2e8cf;
    //background-color: #dbd2bc;
}
/* --------------------------*/
/* ------`*~ PAGE_1 ~*´------*/
/* ---`*~ LANDING_PAGE ~*´---*/
/* --------------------------*/

/*
    background-image: url("/assets/images/popcorn.png");
    background-repeat: no-repeat, repeat;
    max-width: 100%;
    height: auto;
    //z-index: 2;
    //background-color: #f8f2e5ad;

*/

.landing-page {
    height: 100vh;
    width: 100vw;
    color: #2a0000;

    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // gap: 1rem;

    display: flex;
    flex-wrap: wrap;

    position: relative;
    text-align: center;
    justify-content: center;
    align-content: center;

    .landing-page-content {
        // grid-column: span 3;
        min-width: 100%;
        flex-basis: 100%;

        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-bottom: 5rem;
        // display: grid;
        // grid-template-columns: repeat(3, 1fr);
        // gap: 1rem;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

        h1 {
            text-align: center;
            flex-basis: 100%;
            // grid-column: 1 / 4;
            // grid-row: 1;
            // font-size: 4rem;
            font-size: clamp(2rem, 10vw, 4rem);
        }
        label {
            // grid-column: 1 / 4;
            // grid-row: 2;

            // display: grid;
            // grid-template-columns: repeat(3, 1fr);
            // gap: 1rem;
            flex-basis: 100%;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            justify-content: center;
            align-content: center;
            .name-input-text {
                // grid-column: 1 / 4;
                // grid-row: 1;

                flex-basis: 100%;

                font-size: 1.25rem;
                font-weight: bold;
                bottom: 1rem;
            }
            .username-input {
                border: none;
                border-color: #2a0000;
                background-color: #f8f2e5ad;
                border-style: solid;
                border-radius: 12px;
                padding: 10px 60px;
                flex-basis: 70%;

                // grid-column: 2;
                // grid-row: 2;
                text-align: center;
            }
        }
        .start-game-btn {
            // grid-column: 2;
            // grid-row: 4;
            // TODO: fixa kontrast mellan text och knapp-färg
            flex-basis: 100%;
            top: 1rem;
            justify-self: center;
        }
    }
    .landing-page-bg {
        justify-self: center;
        // grid-column: 2;
        // max-width: 100%;
        max-height: 70%;
        width: auto;
        opacity: 20%;
    }
}

.start-game-btn {
    max-width: 15rem;
    padding: 15px;
    font-family: 'Roboto Mono', serif;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Roboto Mono', serif;
    font-size: 1.25rem;
    border: none;
    border-radius: 0.75rem;
    background-color: #c43129;
    box-shadow: 0 6px #7c1e19;
    position: relative;
}
.start-game-btn:hover {
    background-color: #df4e47;
    box-shadow: 0 6px #c02f27;
}
.start-game-btn:active {
    background-color: #df4e47;
    box-shadow: 0 2px #7c1e19;
    transform: translateY(4px);
}

/* --------------------------------*/
/* ---------`*~ PAGE_2 ~*´---------*/
/* -------`*~ GAME_PAGE ~*´--------*/
/* --------------------------------*/
/*
header {
    
    display: flex;
    justify-content: center;
    z-index: 4;
    img {
        width: 20vw;
        height: auto;
        min-width: 250px;
    }
    
}
*/

.game-page-bg {
    //max-width: 100%;
    width: 100%;
    //min-width: 30vw;
    //min-width: 40vw;
    max-height: 100vh;
}
.game-page {
    height: 100vh;
    width: 100vw;
    color: #2a0000;
    /**/
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // gap: 1rem;

    display: flex;
    flex-wrap: wrap;

    position: relative;
    text-align: center;

    justify-items: center;
    justify-content: center;
    align-content: center;

    background-color: #420b09;
    header {
        background-color: none;
        width: 100vw;
        position: absolute;
        //height: 6.25rem;

        text-align: center;
        z-index: 2;

        h2 {
            font-size: clamp(2rem, 6vw, 6rem);
            margin-inline: 1rem;

            //   font-size: 4rem;
            color: #f2e8cf;
            margin-top: 1.5rem;
            //margin-bottom: 5rem;
        }
    }

    .game-page-content {
        // grid-column: 1 / 4;
        // grid-row: 1;
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        position: absolute;

        .q-and-a-containers {
            min-height: 50vh;

            position: relative;

            display: flex;
            flex-wrap: wrap;

            // display: grid;
            // grid-template-columns: repeat(3, 1fr);
            // gap: 1rem;

            justify-content: center;
            align-content: center;

            //margin-bottom: 20vh;
            //margin-top: 12rem;
            margin-top: 20vh;
            margin-right: 20vw;
            margin-left: 20vw;

            .question-container {
                text-align: center;
                margin-bottom: 2vh;
                //margin-bottom: 2rem;
                font-size: 2.5vw;
                // grid-column: 1 / 4;
                // grid-row: 1;
                flex-basis: 100%;

                .question-paragraph {
                    font-size: clamp(1rem, 4.5vw, 2rem);
                }
            }
            .options-container {
                font-size: 1rem;
                text-align: center;
                grid-column: 1 / 4;
                grid-row: 2;

                display: flex;
                flex-wrap: wrap;
                // display: grid;
                // grid-template-columns: repeat(3, 1fr);
                // gap: 1rem;

                justify-content: center;
                align-content: center;

                .option-one {
                    flex-basis: 100%;
                    text-align: center;
                    // grid-column: 1 / 4;
                    // grid-row: 2;
                    // justify-self: center;
                    border: 0.15rem solid black;
                    border-radius: 0.75rem;
                    padding: 0.5rem;
                    margin-bottom: 1rem;
                    display: flex;
                    justify-content: space-between;
                }
                .option-two {
                    flex-basis: 100%;
                    text-align: center;
                    // grid-column: 1 / 4;
                    // grid-row: 3;
                    // justify-self: center;
                    border: 0.15rem solid black;
                    border-radius: 0.75rem;
                    padding: 0.5rem;
                    margin-bottom: 1rem;
                    display: flex;
                    justify-content: space-between;
                }
                .option-three {
                    flex-basis: 100%;
                    text-align: center;
                    // grid-column: 1 / 4;
                    // grid-row: 4;
                    // justify-self: center;
                    border: 0.15rem solid black;
                    border-radius: 0.75rem;
                    padding: 0.5rem;
                    margin-bottom: 1rem;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
        .buttons-and-progress {
            // margin-top: 25vh;
            // margin-right: 10vw;
            // margin-left: 10vw;
            // margin-bottom: 2vh;

            // display: grid;
            // grid-template-columns: repeat(3, 1fr);
            // gap: 1rem;
            flex-basis: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;

            .lock-answer-btn {
                flex-basis: 100%;
                width: 100%;
                // justify-self: center;
                // grid-column: 2;
            }
            .progress-top-container {
                // grid-column: 1;
                // justify-self: start;
                flex-basis: 100%;
                border: #2a0000;
                border-radius: 5px;
                font-size: 1.25rem;

                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                justify-content: space-evenly;
                align-items: baseline;

                .time-span,
                .amount-of-questions {
                    padding: 0.5rem 1rem;
                    border: #2a0000;
                    border-style: solid;
                    border-radius: 5px;
                    background-color: #f2e8cf83;
                    margin-top: 1rem;
                    margin-bottom: 0.3rem;
                    font-size: 1rem;
                }
                .time-span {
                    margin-right: 0.5rem;
                }
            }
            .onward-container {
                // grid-column: 3;
                .onward-btn {
                    font-size: clamp(1rem, 4vw, 2rem);
                    height: 100%;
                }
            }
        }
    }
    .game-page-bg {
        justify-self: left;
        grid-column: 1 / 4;
    }
}

/* -------`*~ RADIO_BUTTONS ~*´--------*/
/*
.question-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.question-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.options-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
// On mouse-over, add a grey background color 
.question-container:hover input ~ .options-checkmark {
    background-color: #ccc;
  }
  
  // When the radio button is checked, add a blue background
  .question-container input:checked ~ .options-checkmark {
    background-color: #2196F3;
  }
  
  // Create the indicator (the dot/circle - hidden when not checked)
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  // Show the indicator (dot/circle) when checked
  .question-container input:checked ~ .options-checkmark:after {
    display: block;
  }
  
  // Style the indicator (dot/circle)
  .question-container .options-checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
*/
/* -------`*~ BUTTONS ~*´--------*/

.buttons-and-progress {
    .lock-answer-btn {
        color: #f2e8cf;
        max-width: 25vw;
        padding: 1rem;
        font-family: 'Roboto Mono', serif;
        display: inline-block;
        transition-duration: 0.4s;
        cursor: pointer;
        font-family: 'Roboto Mono', serif;
        // font-size: 1.25rem;
        font-size: clamp(1rem, 4vw, 2rem);
        border: none;
        border-radius: 0.75rem;
        background-color: #c43129;
        box-shadow: 0 8px #7c1e19;
        position: relative;
    }
    .lock-answer-btn:hover {
        background-color: #df4e47;
        box-shadow: 0 8px #c02f27;
    }
    .lock-answer-btn:active {
        background-color: #df4e47;
        box-shadow: 0 2px #7c1e19;
        transform: translateY(4px);
    }
    .lock-answer-btn:disabled {
        opacity: 60%;
        background-color: #c43129;
        box-shadow: 0 6px #7c1e19;
        transform: translateY(4px);
        cursor: not-allowed;
    }
    .onward-container {
        .onward-btn {
            color: #f2e8cf;
            max-width: 25vw;
            padding: 1rem;
            font-family: 'Roboto Mono', serif;
            display: inline-block;
            transition-duration: 0.4s;
            cursor: pointer;
            font-family: 'Roboto Mono', serif;
            // font-size: 1.25rem;
            font-size: clamp(1rem, 4vw, 2rem);
            border: none;
            border-radius: 0.75rem;
            background-color: #c43129;
            box-shadow: 0 6px #7c1e19;
            position: relative;
        }
        .onward-btn:hover {
            background-color: #df4e47;
            box-shadow: 0 6px #c02f27;
        }
        .onward-btn:active {
            background-color: #df4e47;
            box-shadow: 0 2px #7c1e19;
            transform: translateY(4px);
        }
        .onward-btn:disabled {
            opacity: 60%;
            background-color: #c43129;
            box-shadow: 0 6px #7c1e19;
            transform: translateY(4px);
            cursor: not-allowed;
        }
    }
}
.result-page {
    .result-page-btns-container {
        .play-again-btn, .quit-game-btn {
            color: #f2e8cf;
            max-width: 25vw;
            padding: 1rem;
            font-family: 'Roboto Mono', serif;
            display: inline-block;
            transition-duration: 0.4s;
            cursor: pointer;
            font-family: 'Roboto Mono', serif;
            font-size: clamp(1rem, 4vw, 2rem);
            border: none;
            border-radius: 0.75rem;
            background-color: #c43129;
            box-shadow: 0 6px #7c1e19;
            position: relative;
        }
        .play-again-btn:hover, .quit-game-btn:hover {
            background-color: #df4e47;
            box-shadow: 0 6px #c02f27;
        }
        // .onward-btn:active {
        //     background-color: #df4e47;
        //     box-shadow: 0 2px #7c1e19;
        //     transform: translateY(4px);
        // }
        // .onward-btn:disabled {
        //     opacity: 60%;
        //     background-color: #c43129;
        //     box-shadow: 0 6px #7c1e19;
        //     transform: translateY(4px);
        //     cursor: not-allowed;
        // }
    }
}

/*
*/

/* ----------------------------------------*/
/* -------------`*~ PAGE_3 ~*´-------------*/
/* ----------`*~ RESULTS_PAGE ~*´----------*/
/* ----------------------------------------*/

.result-page {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    h2 {
        font-size: clamp(2rem, 6vw, 6rem);
    }
    .result-text-container {
        flex-basis: 100%;
        font-size: clamp(1rem, 5vw, 2rem);
        .result-paragraph {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            p {
                text-align: center;
            }
        }
    }
    .result-page-btns-container {
        flex-basis: 50%;
        display: flex;
        gap: 1rem;
        justify-content: center;
    }
}
