@import 'variables';
@import 'vendor/reset';

@import 'mobile';

@media screen and (min-width: 1280px) {
    @import 'desktop';
}

/* ---------------------*/
/* ----`*~ FONTS ~*´----*/
/* ---------------------*/

.bungee-tint-regular {
    font-family: "Bungee Tint", serif;
    font-weight: 400;
    font-style: normal;
  }
.roboto-mono-regular {
font-family: "Roboto Mono", serif;
font-optical-sizing: auto;
font-style: normal;
}
.landing-page, .game-page, .result-page {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1 {
    font-family: "Bungee Tint", serif;
    font-weight: 400;
    font-style: normal;
}


/* -----------------------*/
/* ----`*~ GENERAL ~*´----*/
/* -----------------------*/

html {
    scroll-behavior: smooth;
  }
body {
    color: #2a0000;
    background-color: #f2e8cf;  
    //background-color: #dbd2bc;  
}
.landingPageBG {
    height: 98vh;
    width: auto;
    opacity: 20%;
    //margin-top: 0.25rem;
    //padding-right: 55px;
}
.landing-page {
    position: relative;
    text-align: center;
    color: #2a0000;
    .landingPageContent {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-bottom: 5rem;
      }
    h1 {
        font-size: 4rem;
    }
    label span {
        position: relative;
        font-size: 1.25rem;
        font-weight: bold;
        bottom: 1rem;
    }
    label input {
        text-align: center;
    }
    button {
        top: 1rem;
    }
    img {

    }
}


/* --------------------------*/
/* ------`*~ PAGE_1 ~*´------*/
/* ---`*~ LANDING_PAGE ~*´---*/
/* --------------------------*/

/* --------------------------------*/
/* ---------`*~ PAGE_2 ~*´---------*/
/* -------`*~ GAME_PAGE ~*´--------*/
/* --------------------------------*/

/* --------------------------------*/
/* ---------`*~ PAGE_3 ~*´---------*/
/* ----------`*~ ADD_IF_NEEDED ~*´----------*/
/* --------------------------------*/
input {
    border: none;
    border-color: #2a0000;
    background-color: #f8f2e5ad;
    border-style: solid;
    border-radius: 12px;
    padding: 10px 60px;
  }
  
.startGameBtn {
    padding: 10px;
    font-family: "Roboto Mono", serif;
    position: relative;

  }
.startGameBtn {
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: "Roboto Mono", serif;
    font-size: 1.25rem;
    border: none;
    //border-width: 0.2rem;
    //border-color: #bab5a1;
    border-radius: 0.75rem;
    
    //background-color: #f8f2e5;
    //box-shadow: 0 6px #b9b49d;
    background-color: #c43129;
    box-shadow: 0 6px #7c1e19;
    //grid-column: 11 / span 2;
    //grid-row: 4 / span 2;
    position: relative;
  }
  .startGameBtn:hover {
    //background-color: #fdfaf3;
    background-color: #df4e47;
    box-shadow: 0 6px #c02f27;
  }
  .startGameBtn:active {
    //background-color: #fdfaf3;
    //box-shadow: 0 2px #b9b49d;
    background-color: #df4e47;
    box-shadow: 0 2px #7c1e19;
    transform: translateY(4px);
  }

.game-page {
    height: 100vh;
    width: 100vw;
    background-image: url("/assets/images/quizza_med_estelle_bg.png");
    background-repeat: no-repeat, repeat;
    max-width: 100%;
    height: auto;
    background-color: #f8f2e5ad;
}
/*
 
*/